#name{
text-align: center;
}

#email{
text-align: center;
}

#title{
  font-family: "Lucida Console", Courier, monospace;
  color: #330000;
  font-size: 80px;
  text-align: center;

}

#center{
	 margin-top: 250px;
	text-align: center;
}


#centerCity{
margin-top: 50px;
text-align: center;
}


#center-home{
margin-top: 50px;
margin-right: 50px
text-align: right;
}

body {
  background-image: url('main_back.PNG');
}